
@using myproject.Models
@using System.Data
@model DataTable
@{
    Layout = "~/Views/_MasterLayout.cshtml";
    // ViewBag.Title = "OrderSummary";


    Farmer f = (Farmer)Session["Farmer"];
    float sum = 0;
}



<div id="maincontainer">
    <section id="product">
        <div class="container">
            <!--  breadcrumb -->

            <h1 class="heading1"><span class="maintext">CART</span><span class="subtext"> </span></h1>
            <!-- Cart-->
            <div class="cart-info">
                <form  class="form-horizontal"  method="post" enctype="multipart/form-data" action="~/Farmer/Checkout">
                    <table class="table table-striped table-bordered">
                        <tr>
                            <th class="image">Photo</th>
                            <th class="image">Packet Name</th>
                            <th class="model">Order Date</th>
                            <th class="model">Packet Size</th>
                            <th class="quantity">Quantity</th>
                            <th class="price">Price</th>
                            <th class="total">Total Price</th>
                            <th class="total">Action</th>

                        </tr>
                        @for (int i = 0; i < Model.Rows.Count; i++)
                        {
                            <tr>

                                <td class="image"><a href="#"><img title="product" alt="product" src="@Model.Rows[i]["Photo"]" height="50" width="50"></a></td>
                                <td class="name"><a href="#">@Model.Rows[i]["Title"]</a></td>


                                <td class="total">@Model.Rows[i]["OrderDate"]</td>
                                <td class="total">@Model.Rows[i]["PacketSize"]gm</td>

                                <td class="total">@Model.Rows[i]["Qty"]</td>

                                <td class="price">₹ @Model.Rows[i]["Price"].00</td>
                                <td class="total">₹ @Model.Rows[i]["NetPrice"].00</td>
                               
                              <input type="hidden" value="@(sum += Convert.ToSingle(Model.Rows[i]["NetPrice"]))"  />
                                <td class="total">

                                    <a href="PacketOrderDelete/@Model.Rows[i]["PacketOrderID"]"><img class="tooltip-test" data-original-title="Remove" src="~/UserSide/img/remove.png" alt=""></a>
                                </td>



                            </tr>


                        }

                    </table>
                    <div class="row">
                        <div class="pull-right">
                            <div class="span4 pull-right">
                                <table class="table table-striped table-bordered ">
                                    <tbody>
                                        <tr>
                                            <td><span class="extra bold"><b>Total Amount :</b></span></td>
                                            <td><span class="bold">₹ @sum.00</span></td>
                                        </tr>
                                        <tr>
                                            <td><span class="extra bold"><b>Payment Method:</b></span></td>
                                            <td><span class="bold">Cash On Delivery Available</span></td>
                                        </tr>
                                       
                                    </tbody>
                                </table>
                                <input type="submit" class="btn btn-orange pull-right" value="CheckOut">
                             

                            </div>
                        </div>
                        </div>
                       
</form>
                <div>

                </div>
            </div>


        </div>
    </section>
</div>
